.profileHeader {

    width: calc(100% - 40px);
    margin: 10px 20px;
    min-height: calc(20vh - 20px);
    max-height: 30vh;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid var(--ContentColor);
}

.leftContainer {

    width: 15%;
    aspect-ratio: 1/1;

}

.rightContainer {

    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;

}


.topSection {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.leftSide {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.names span {
    color: var(--ContentColor);
}

.names h2 {
    font-size: 1.3em;
    color: var(--ContentColor);
    width: 50%;
    margin-top: -5px;
}

.nameBadge {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.follows {
    color: var(--ContentColor);
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.followersOption:hover {
    text-decoration: underline;
}


.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.button {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.button button {

    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--ButtonColor);
    color: white;
    border: 2px solid var(--ContentColor);
}

.dropdownMenuButton {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
    color: var(--ContentColor);
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: var(--ThemeColor);
    border: 2px solid var(--ContentColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.dropdownMenuOption {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.dropdownMenuOption span {
    color: var(--ContentColor);
    margin-left: 5px;
}

.dropdownMenuOption svg {
    color: var(--ContentColor);
    margin-top: 3px;
}

.middleSection {
    margin: 10px 0;
}

.middleSection p {
    font-size: 18px;
}

.bottomSection {
    justify-self: flex-end;
    font-size: 14px;
    align-items: flex-end;
    margin-bottom: 10px;
}