.bigSectionHeader {

    width: calc(100% - 40px);
    margin: 10px 20px;
    min-height: calc(20vh - 8px);
    max-height: 30vh;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--ContentColor);
    justify-content: center;
}

.smallSectionHeader {

    width: calc(100% - 40px);
    margin: 10px 20px;
    max-height: 30vh;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--ContentColor);
    justify-content: center;
    text-align: left;
}

.leftSection {
    display: flex;
    justify-content: center;

}

.bigIcon {
    font-size: 80px;
    color: var(--ContentColor);
    margin: 5px;
    align-self: center;
    margin-right: 20px;

}

.smallIcon {
    font-size: 40px;
    color: var(--ContentColor);
    margin: 5px;
    align-self: flex-end;
}

.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    overflow: hidden;

}

.bigTitle {

    font-size: 60px;
    font-size: clamp(5px, 5vw, 60px);
    color: var(--ContentColor);

}

.smallTitle {

    font-size: 30px;
    color: var(--ContentColor);
    align-self: center;
    margin-left: 20px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: self-start;


}