* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.PageContainer {
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: var(--ThemeColor);
    display: flex;

}


.PageContent {
    width: 60vw;
    min-width: 1200px;
    min-height: 100vh;
    height: max-content;
    margin: 0 auto;
    display: flex;



}

.leftSide {
    width: 25%;
    display: flex;
    flex-direction: column;


}

.nameBadge {
    display: flex;
    width: 100%;
}

#fullname {
    align-self: center;
    font-size: 2em;
    font-weight: bold;

}

.verifyBadge {
    margin-top: 3px;
    font-size: 2em;
    align-self: center;
}



.middleSide {
    width: 50%;
    border: 2px solid var(--ContentColor);
    background-color: var(--ThemeColor);
    height: max-content;
    min-height: 100vh;


}

.rightSide {
    width: 25%;
    border: 2px solid var(--ContentColor);
    background-color: var(--ThemeColor);


}

.UserHeader {
    background-color: var(--ThemeColor);
    width: 100%;
    height: 20vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--ContentColor);
}

.menuLeftContainer {
    flex: 1;
    background-color: var(--ThemeColor);
    border: 2px solid var(--ContentColor);
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;

}

.menuLeft {


    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    gap: 20px;



}

.emptyList {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.emptyList span {
    margin-top: 20px;
    color: var(--ContentColor);
    font-size: calc(1vw + 1em);
}

.emptyListIcon {
    margin-top: 200px;
    font-size: 200px;
    color: var(--ContentColor);
}

.UserNames {

    color: var(--ContentColor);
    border-radius: 20px;
}

.MenuOption {
    color: var(--ContentColor);
    display: flex;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;

}

.icon {
    margin-top: 5px;
    margin-right: 10px;
}

.TopHeader {

    display: flex;
    flex-direction: row;
}

.BottomHeader {
    color: var(--ContentColor);
    margin-top: 10px;
    text-align: center;

}

.BottomHeader span {
    cursor: pointer;

}

.TopHeader img {
    width: 30%;
    aspect-ratio: 1 /1;
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.menuConfigs {

    margin-top: 20vh;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.configOption {
    color: var(--ContentColor);
    cursor: pointer;
    font-size: 25px;
    justify-content: flex-start;
    align-content: flex-start;
}

.followersOption:hover {

    text-decoration: underline;
}

.suggestionBox {

    display: flex;
    flex-direction: column;
    border: 2px solid var(--ContentColor);
    border-radius: 20px;
    margin: 30px 10px;
    padding: 10px 0px;
    position: relative;
}

.suggestionTitle {
    position: absolute;
    top: -20px;
    line-height: 20px;
    margin-left: 25px;
    padding: 5px;
    font-size: 25px;
    color: var(--ContentColor);
    background-color: var(--ThemeColor);
}

.updateContainer {


    display: flex;
    flex-direction: column;
    margin: 30px 20px 0 20px;
    align-items: center;

}

.updatePhotoContainer {
    width: 30%;
    height: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.updatePhotoContainer input {

    display: none;
}

.updatePhotoContainer img {

    width: 100%;
    aspect-ratio: 1 /1;
    border-radius: 50%;
    object-fit: cover;
}

.updatePhotoContainer label {

    font-size: 20px;
    font-weight: bold;
    color: var(--ContentColor);
}

.updateContainer h1 {
    color: var(--ContentColor);
}

.errorMessage {
    margin-left: 5%;
    color: red;
    align-self: self-start;
    display: none;
}


.formField {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formField input {
    border-radius: 5px;
    width: 100%;
    height: 80%;
    padding: 10px;
    font-size: 20px;
    color: var(--ContentColor);
    background-color: var(--ThemeColor);
}

.formField textarea {
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 20px;
    color: var(--ContentColor);
    background-color: var(--ThemeColor);
    resize: none;

}

.formField label {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-start;
    color: var(--ContentColor);

}

.editButton {
    margin-top: 20px;
    width: 90%;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    background-color: var(--ButtonColor);
    color: white;

}

.removeAvatarButton {
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.trashIcon {
    font-size: 20px;
}