* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.PageContainer {
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: var(--ThemeColor);
    display: flex;

}


.PageContent {
    width: 60vw;
    min-width: 1200px;
    min-height: 100vh;
    height: max-content;
    margin: 0 auto;
    display: flex;



}

.leftSide {
    width: 25%;
    display: flex;
    flex-direction: column;


}


.middleSide {
    width: 50%;
    border: 2px solid var(--ContentColor);
    background-color: var(--ThemeColor);
    height: max-content;
    min-height: 100vh;


}

.rightSide {
    width: 25%;
    border: 2px solid var(--ContentColor);
    background-color: var(--ThemeColor);


}

.UserHeader {
    background-color: var(--ThemeColor);
    width: 100%;
    height: 20vh;
    /* max-height: 20vh; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--ContentColor);
}

.menuLeftContainer {
    flex: 1;
    background-color: var(--ThemeColor);
    border: 2px solid var(--ContentColor);
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;

}

.menuLeft {


    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    gap: 20px;



}

.emptyList {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.emptyList span {
    margin-top: 20px;
    color: var(--ContentColor);
    font-size: calc(1vw + 1em);
}

.emptyListIcon {
    margin-top: 200px;
    font-size: 200px;
    color: var(--ContentColor);
}

.UserNames {

    color: var(--ContentColor);
    border-radius: 20px;
}

.MenuOption {
    color: var(--ContentColor);
    display: flex;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;

}

.icon {
    margin-right: 10px;
}

.TopHeader {

    display: flex;
    flex-direction: row;
}

.BottonHeader {
    color: var(--ContentColor);
    margin-top: 10px;
    text-align: center;

}

.TopHeader img {
    width: 30%;
    aspect-ratio: 1 /1;
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}